.container {
    z-index: 1;
}

.search-bar {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 70%;
    text-align: center;
}

.card {
    margin: 0 auto;
    display: inline-block;
    margin: 5px;
    align-items:center;
}

.cards-div {
    
}